* {
    margin: 0px;
    padding: 0px;
    color: white;
}

/* === All CSS necessary for header === */
#header {
    width: 100%;
    background-color: #a814ff;
    height: 50px;
}

#header > * {
    display: inline;
    color: white;
}

#hamburger {
    float: left;
    padding-top: 5px;
    padding-left: 10px;
    max-width: 40px;
}

#logo {
    float: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 700; 
    font-size: 30px;
    padding-left: 20px;
    padding-top: 9px;
}

#search-form {
    padding-top: 10px;
    float: right;
    margin-right: 40px;
    height: 10px;
    width: 25%;
}

#search-box {
    width: 80%;
    color: gray;
    height: 30px;
}

#submit-button {
    width: 15%;
    height: 30px;
    color: black;
}

/* === CSS for main page content === */
.page-content {
    background-color: #1a212d;
}

.inner-wrapper {
    padding: 1px 100px;
    height: 100%;
}

.content-band {
     margin-top: 50px;
}

.content-band > h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700; 
    font-size: 30px;
    border-bottom: 1px solid white;
    margin: 20px 0px;
}

.content-container {
    display: inline-block;
    width: 100%;
    height: 200px;
}

.content-container > * {
    display: inline-block;
    float: left;
}

.content {
    position: relative;
    width: 288px;
    height: 162px;
    background: url(Content/forest.jpg);
    background-position: center;
    background-size: cover;
    margin: 40px;
}

.content-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500; 
    font-size: 20px;
    text-align: center;
    background-color: #eacaff;
    color: #d79aff;
    padding: 5px;
}

.content-service {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-weight: 500; 
    font-size: 20px;
    right: 0;
    bottom: 0;
    padding: 5px;
}

.netflix {
    color: #ff0000;
}