* {
    margin: 0px;
    padding: 0px;
    color: white;
}

/* === All CSS necessary for header === */
#header {
    width: 100%;
    background-color: #a814ff;
    height: 50px;
}

#header > * {
    display: inline;
    color: white;
}

#hamburger {
    float: left;
    padding-top: 5px;
    padding-left: 10px;
    max-width: 40px;
}

#logo {
    float: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 30px;
    padding-left: 20px;
    padding-top: 9px;
}

#search-form {
    padding-top: 10px;
    float: right;
    margin-right: 40px;
    height: 10px;
    width: 25%;
}

#search-box {
    width: 80%;
    color: gray;
    height: 30px;
}

#submit-button {
    width: 15%;
    height: 30px;
    color: black;
}

/* === CSS for main page content === */
.page-content {
    background-color: #1a212d;
}

.inner-wrapper {
    padding: 1px 100px;
    height: 100%;
}

.content-band {
     margin-top: 50px;
}

.content-band > h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 30px;
    border-bottom: 1px solid white;
    margin: 20px 0px;
}

.content-container {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: 100%;
    height: 202px;
}

.content {
    display: inline-block;
    position: relative;
    width: 288px;
    height: 162px;
    margin: 40px;
    border-radius: 15px;
}

.content-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    background-color: #eacaff;
    /* background-image: linear-gradient(#eacaff, transparent); */
    color: #d79aff;
    padding: 5px;
    border-radius: 15px 15px 0px 0px;
    /* text-shadow: 2px 2px 6px #0c0c0c; */
    /* height: 25%; */
}

.content-service {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    right: 0;
    bottom: 0;
    padding: 5px;

}

.netflix {
    color: #ff0000;
    text-shadow: 2px 2px 6px #0c0c0c;
}

.hulu {
    color: #00ff00;
    text-shadow: 2px 2px 6px #0c0c0c;
}

::-webkit-scrollbar {
    display: none;
}
