* {
  margin: 0px;
  padding: 0px;
  color: white;
}

/* === All CSS necessary for header === */
#header {
  width: 100%;
  background-color: #a814ff;
  height: 50px;
  box-shadow: 0px 4px 8px #0c0c0c88;
  position: fixed;
  z-index: 10;
}

#header > * {
  display: inline;
  color: white;
}

.hamburger-content {
    z-index: 8;
}

#hamburger {
  float: left;
  padding-top: 5px;
  padding-left: 10px;
  max-width: 40px;
}

#logo {
  float: left;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 30px;
  padding-left: 20px;
  padding-top: 9px;
}

#search-form {
  padding-top: 10px;
  float: right;
  margin-right: 40px;
  height: 10px;
  width: 25%;
}

#search-box {
  width: 80%;
  color: gray;
  height: 30px;
}

#submit-button {
  width: 15%;
  height: 30px;
  color: black;
}

/* === CSS for main page content === */
.page-content {
  background-color: #1a212d;
  position: relative;
}

.starting-page {
  background-color: #1a212d;
  position: fixed;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.starting-text {
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 40vh;
}

.inner-wrapper {
  padding: 30px 40px;
  height: 100%;
}

.content-band {
  margin-top: 50px;
  padding-left: 40px;
  padding-right: 40px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.content-band>h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 30px;
  border-bottom: 1px solid white;
  margin: 20px 0px;
}

.scrollboxes {
  width: inherit;
  display: inline-flex;
  justify-content: center;
  width: 100%;
}

.scroll-button {
  display: inline-block;
  margin: auto;
}

#recommended-scroll-left, #genre-scroll-left {
  float: left;

}

#recommended-scroll-right, #genre-scroll-right {
  float: right;

}

.round {
  border-radius: 50%;
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  background-color: #2f3b4f;
  color: #724e9d;
  font-size: 30px;
  height: 35px;
  width: 20px;
  text-align: center;
  box-shadow: 4px 4px 8px #00000022;
  transition: all .2s ease-in-out;

}

.round:hover {
  background-color: white;
  box-shadow: 4px 4px 8px #000000;
}

.arrow-img {
  vertical-align: middle;
  display: inline;
  padding-top: 7px;
}

.content-container {
  overflow-x: scroll;
  overflow-y: hidden;
  width: inherit;
  white-space: nowrap;
  height: 202px;
  scroll-behavior: smooth;
}

.content {
    display: inline-block;
    position: relative;
    width: 288px;
    height: 162px;
    margin: 25px;
    border-radius: 15px;
    transition: all .2s ease-in-out;
    cursor: pointer;
    text-decoration: none;
}

.content:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px 4px #000000ee;
}

.content-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  background-color: #eacaff;
  /* background-image: linear-gradient(#eacaff, transparent); */
  /* color: #d79aff; */
  color: #c487ed;
  padding: 5px;
  border-radius: 15px 15px 0px 0px;
  /* text-shadow: 2px 2px 6px #0c0c0c; */
  /* height: 25%; */
  box-shadow: 0px 2px 8px #2c2c2ccc;
}

.content-service {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  right: 0;
  bottom: 0;
  padding: 5px;
  text-shadow: 2px 2px 6px #0c0c0c;
}

::-webkit-scrollbar {
  display: none;
}

select {
  display: inline-block;
  margin: 7px 30px;
  height: 25px;
  color: black;
  position: absolute;
}

option {
    color: black;
}

/* === All CSS for hamburger === */
.hamburger-content {
  display: block;
  position: absolute;
  left: 0;
  top: 50px;
  background-color: white;
  width: 25%;
  height: 95%;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 30px;
  transition: all .2s ease-in-out;
}

.service-logo {
  display: inline-block;
  width: 60%;
}

.service-row {
  margin: 15px;
  border-bottom: 1px solid gray;
  text-transform: uppercase;
  font-size: 36px;
  padding-top: 10px;
}

.service-row>button {
  color: white;
  border-radius: 10px;
  height: 28px;
  float: right;
  width: 60px;
  border: none;
}

.login {
  background-color: #a814ff;
}

.logout {
  background-color: limegreen;
}

.scroll-button {
  padding: 10px;
}

/* === Service Login === */
.service-login {
    width: 100%;
    height: 100%;
    background-color: #1a212d;
    position: fixed;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    z-index: 1;
}

.service-login > .inner-wrapper {
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 35vh;
    height: 100%;
}

.login-row {
    font-size: 20px;
    font-weight: 500;
}

.login-row > * {
    display: inline-block;
}

.login-row > input {
    width: 300px;
    height: 30px;
    margin: 20px;
    color: black;
    padding: 0px 10px;
}

#login-button {
    background-color: limegreen;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
}

.tv-show-page {
  padding-top: 200px;
  font-family: "Roboto", sans-serif;
  background-color: #1a212d;
}

.tv-show-page > .inner-wrapper > h5 {
  font-size: 36pt;
}

/* === Content Specific Colors === */
.netflix {
  color: #ff0000;
}

.hulu {
  color: #00ff00;
}

.hbo {
  color: #ccd2d5;
}

.showtime {
  color: #c20000;
}

.prime {
  color: #00aae7;
}

.crunchyroll {
  color: #ff8500;
}
